::-webkit-scrollbar {
  width: 1.25rem;
  background-color: #e3e2e9;
  border-radius: 0.8rem;
}

::-webkit-scrollbar-thumb {
  background-color: #c8c6d2;
  border-radius: 0.8rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a19fad;
}
