// Importing from Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");

// Typography settings
body,
input,
textarea,
button {
  font-family: "Kumbh Sans", sans-serif;
}

h2 {
  font-size: 3.2rem;
  color: $primary-color;
}

h3 {
  font-size: 2.2rem;
  margin: 1rem 0;
}

.home__text--bottom {
  color: #222222 !important;
}
